body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.menu-icon {
  font-size: 48px;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1001;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.sidenav {
  position: fixed;
  top: 0;
  left: -80%;
  height: 100%;
  width: 80%;
  background: #222;
  color: white;
  transition: left 0.3s ease;
  z-index: 1001;
  padding-top: 60px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidenav.active {
  left: 0;
}

.sidenav a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: 0ms;
  font-size: 24px;
}

.sidenav a:hover {
  background: #444;
}

.sidenav i {
  width: 25px;
  text-align: center;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}
